* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
body setting
*/
body {
  margin: auto;
  background-image: 
    linear-gradient(#f4976cba, #f4d463),
    url("../src/st3.depositphotos.com_depositphotos_192041854-vector-profession-seamless.jpg");
  background-attachment: fixed;
  background-position: center top;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.9em;
  overflow: auto;
}

span {
  font-family: "Candal", sans-serif;
  font-size: 1.2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@media screen and (max-width: 800px) {
	.parent {
		padding-left: 1%;
	    padding-right: 1%;
	}
	
	.servlets {
		min-height: 18.5%;
	}
	
	.control-panel > div > a{
	    visibility: hidden;
	}
	
	.control-panel > div > a > i {
	    visibility: visible;
	    left: 25%;
	}
}

/*
header
*/
#header {
  height: 40px;
  border-bottom: 2px solid #d2fdff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #303c6c;
  padding: 1%;
}

#header > span {
  color: #fbe8a6;
  text-decoration: none;
}

#header-nav {
  min-width: 80px;
  display: flex;
  justify-content: space-between;
}

#header-nav div {
  cursor: pointer;
  position: relative;
  top: 2px;
  color: #d2fdff;
}

#header-nav div:hover {
  cursor: pointer;
  position: relative;
  top: 2px;
  color: #fbe8a6;
}

#header-nav div > i {
	font-size: 1.8em;
}

#header-nav div > span {
  visibility: hidden;
  width: 60px;
  height: 20px;
  background-color: #fbe8a6;
  color: #303c6c;
  text-align: center;
  border-radius: 10px;
  padding: 2px;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 5px;
}

#header-nav div:hover > span {
  visibility: visible;
}

/*
Parent
*/
.parent {
  display: flex;
  margin: auto;
  max-width: 800px;
  min-height: 800px;
  color: #303c6c;
}

.left-child {
  width: 20%;
  display: flex;
  padding-right: 0.5%;
}

.control-panel {
  position: relative;
  width: 100%;
  max-height: 240px;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-panel .material-icons {
  position: relative;
  top: 7px;
  font-size: 2em;
}

.servlets {
  background: #fbe8a6;
  text-align: left;
  padding: 5px;
  height: 17%;
  border-radius: 5px;
  border-bottom: 2px solid #ffffff;
}

.servlets:hover {
  cursor: pointer;
  background: #d2fdff;
}

#category-menu {
  color:#303c6c;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 0.8em;
  outline: none;
}

.servlets > a {
  position: relative;
  text-decoration: none;
  font-size: 0.8em;
  bottom: 10%;
  left: 5%;
}

.nav-btn {
  color: #303c6c;
}

.nav-btn.active {
  color: #f4976c;
}

.right-child {
  width: 80%;
  display: flex;
  padding-left: 0.5%;
}

.background {
  position: relative;
  width: 100%;
  height: 80%;
  top: 80px;
  background: #fbe8a6;
  border-radius: 5px;
  border-bottom: 2px solid #ffffff;
}

.form {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.form h1 {
  font-size: 1.2em;
  padding: 5% 5% 2.5% 5%;
}

.info {
  padding: 0% 5% 2.5% 5%;
  font-size: 0.8em;
  line-height: 1.6;
  text-align: left;
}

.welcome-msg {
  position: relative;
  margin-bottom: 5%;
  text-align: center;
}

.welcome-msg span {
	display: inline-block;
	margin-bottom: 5%;
}

.welcome-msg p {
  font-size: 0.8em;
  line-height: 1.6;
  text-align: left;
}

#login-form {
  border-left: 1px solid #f4976c;
  border-right: 1px solid #f4976c;
  position: relative;
  top: 10%;
  width: 60%;
  height: 80%;
  margin: auto;
  padding: 2%;
  border-radius: 0px 0px 9px 9px;
  overflow: auto;
}

#login-form label {
  font-size: 0.9em;
}

#login-form input {
	border: none;
	margin-bottom: 1%;
	padding: 1%;
	width: 100%;
}

#login-form button {
  display: block;
  border: 1px solid #f4976c;
  color: #303c6c;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  margin: auto;
  background: none;
}

#login-form button:hover {
  background: #f4976c;
  color: #fbe8a6;
}

#login-form #login-btn {
  position: relative;
  top: 3%;
  margin: auto;
  padding: 2%;
}

#login-form #register-form-btn {
  position: relative;
  top: 6%;
  padding: 2%;
}

#login-error {
  color: #ff0000;
  font-size: 1.1em;
  position: relative;
  text-align: center;
  top: 15%;
}

/*
Register form
*/
#register-form {
  border-left: 1px solid #f4976c;
  border-right: 1px solid #f4976c;
  position: relative;
  width: 60%;
  height: 80%;
  top: 10%;
  margin: auto;
  overflow: auto;
  padding: 2%;
  border-radius: 0px 0px 9px 9px;
}

#register-form label {
	font-size: 0.9em;
}

#register-form input {
	border: none;
	margin-bottom: 1%;
	padding: 1%;
	width: 100%;
}

#register-form button {
  display: block;
  border: 1px solid #f4976c;
  color: #303c6c;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  background: none;
  margin: auto;
}

#register-form button:hover {
  background: #f4976c;
  color: #fbe8a6;
}

#register-form #register-btn {
  position: relative;
  top: 3%;
  padding: 2%;
}

#register-form #login-form-btn {
  position: relative;
  top: 6%;
  padding: 2%;
}

#register-result {
  text-align: center;
  font-size: 1.1em;
  color: #ff0000;
  position: relative;
  top: 12%;
}

/*
Item-list
*/
.item {
  background: #fbe8a6;
  border-radius: 5px;
  border-bottom: 2px solid #ffffff;
}

.item > ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.item-job {
  width: 80%;
}

.item-label{
  display: flex;
  cursor: pointer;
  align-items: center;
  border-right: 1px solid #f4976c;
}

.item-label:hover{
  background: #d2fdff;
}

.item-label img {
  border: 1px solid #f4976c;
	height: 50px;
	width: 50px;
}

.item-label span {
  position: relative;
  left: 1%;
  font-size: 0.8em;
  line-height: 1.6;
}

.description {
  padding: 1%;
}

input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
  border-right: 1px solid #f4976c;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

.item-url {
  border: none;
  cursor: pointer;
  position: relative; 
  right: 2%;
}

.item-url > a > i {
	color: rgba(48, 60, 108, 0.75);
	font-size: 1em;
}

.item-url > a > i:hover {
	color: #303c6c;
}

.item-fav {
   border: none;
   cursor: pointer;
   position: relative;
   right: 4%;
}

.item-fav > i {
	color: #f4976c;
}

.item-fav > i:hover {
	color: #ff0000;
}

.notice {
	text-align: center;
    padding: 5%;
    color: #f4976c;
    font-family: "Candal", sans-serif;
    font-size: 1em;
}