* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background: #ffffff;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  color: #313131;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../src/dark-vector-profession-seamless.jpg"); 
  background-attachment:fixed;
}

header {
  border-bottom: 1px solid #b0b0b0;
  background: #ffffff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 20px 35px #ffffff;
}

header > section {
  padding-left: 0.5em;
  min-height: 50px;
  max-width: 1152px;
  margin: auto;
  display: flex;
}

.title {
  display: flex;
  color: #005da6;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0.5em;
}

.seek-to-remote { font-size: 1.5rem; }

.lite {
  display: inline-block;
  background: #005da6;
  color: #ffffff;
  font-size: 1em;
  margin-left: 0.5rem;
  padding: 0.175em 0.35em;
  border-radius: 5px;
}

#navigator {
  min-height: 30px;
  max-width: 1152px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b0b0b0;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  overflow: auto;
  transition: 1s;
  z-index: 1;
}

.menu div {
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
  margin: 0 auto;
  padding: 0.5em 0;
  width: 250px;
  background: #ffffff;
}

.menu div:hover { color: #005da6; }

#menu-header {
  padding-top: 1em;
  border-radius: 3px 3px 0 0;
}

#menu-footer {
  padding-bottom: 1em;
  border-radius: 0 0 3px 3px;
}

.buttons {
  cursor: pointer;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  border-right: 1px solid #b0b0b0;
}

.buttons:hover {
  background: rgba(0, 93, 166, 0.2);
  color: #005da6;
}

.buttons.active {
  background: #005da6;
  color: #ffffff;
}

#logout-btn { border: none; }

main {
  min-height: calc(100vh - 151px);
  max-width: 810px;
  margin: auto;
}

#session-info {
  margin: 2em 0;
  margin-left: 0.25em;
  padding: 0.5em;
  position: relative;
  top: 20px;
  font-size: 0.9em;
  color: #005da6;
  background: rgba(255, 255, 255, 0.75);
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  display: none;
}

ul { list-style: none; }

li { list-style: none; }

.item-fav {
  width: 7.5%;
  text-align: center;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ p {
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ p {
  height: 100%;
  transform-origin: top;
  transition: transform .5s;
  transform: scaleY(1);
  padding: 1em 0;
  font-size: 0.9em;
  line-height: 1.6;
  background: #ffffff;
}

#item-list { padding: 0 0.25em; }

.item {
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
  font-family: 'Quicksand', sans-serif;
  background: #ffffff;
  letter-spacing: 0.05em;
  padding: 0 0.75em;
  font-size: 0.8em;
  margin: 3em 0;
}

.item section { 
  display: flex;
  flex-wrap: wrap;
}

.item-header { 
  padding-top: 0.75em;
  padding-bottom: 0.5em;
}

.item-header > img {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
}

.item-com-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  font-weight: 600;
  color: #000000;
  min-height: 50px;
  padding-right: 1em;
  border-bottom: 1px solid #b0b0b0;
}

.item-title { 
  display: inline-block;
  background: #005da6;
  color: #ffffff;
  font-size: 1.1em;
  padding: 0 0.25em;
  margin: 0.25em 0;
  border-radius: 2px;
}

.item-date-cat {
  margin-left:auto;
  margin-right:0;
}

.item-date-cat > div { 
  text-align: end;
  margin-bottom: 0.25em;
}

.item-date-cat > div > span { margin-left: 0.25em; }

.item-details {
  padding: 0.5em 0;
  font-weight: 600;
}

.item-details > div { margin-right: 1em; }

.item-details > div > span { margin-left: 0.25em; }

.item-nav {
  flex-direction: column;
  padding-top: 0.25em;
  padding-bottom: 0.75em;
}

.fav-openTab { display: flex; }

.item-buttons {
  padding: 0.25em 0.5em;
  margin: 0.5em;
  margin-left: 0;
  color: #005da6;
  background: rgba(0, 93, 166, 0.1);
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
}

.item-buttons:hover {
  background: rgba(0, 93, 166, 0.2);
}

.item-buttons > span { margin-left: 0.25em; }

.item-label {
  padding: 0.25em 0.5em;
  cursor: pointer;
  margin-bottom: 0;
  text-align: center;
  color: #005da6;
  background: rgba(0, 93, 166, 0.1);
  border-radius: 3px;
}

.item-label:hover { 
  background: rgba(0, 93, 166, 0.2);
}

.item-label > span { margin: 0 0.25em; }

.notice {
  padding: 10%;
  text-align: center;
  color: #005da6;
  font-size: 1.1em;
}

#about-info {
  overflow: auto;
  background: #ffffff;
  padding: 1em;
  margin: 4em 0.25em;
  font-size: 0.8em;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
}

.log-reg-form {
  display: flex;
  position: relative;
  top: 25vh;
  width: 80%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  overflow: auto;
  background: #ffffff;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
}

.log-reg-form span {
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b0b0b0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b0b0b0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b0b0b0;
}

input {
  width: 40%;
  height: 2em;
  padding-left: 0.5em;
  border-radius: 2px;
  border: 1px solid #616161;
  letter-spacing: 0.1em;
  margin: 5px 0;
}

input:focus { outline: none !important; }

.form-nav {
  min-width: 250px;
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.form-buttons {
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  background: rgba(0, 93, 166, 0.1);
  color: #005da6;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
}

.form-buttons:hover {
  background: rgba(0, 93, 166, 0.2);
}

#login-pending { 
  margin-top: 20px;
  font-size: 1.5em;
  color: #005da6;
}

.register-rule {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.message {
  margin: 10px;
  border-radius: 2px;
  padding: 0.25em 0.5em;
  background: #f06112;
  font-weight: 600;
  font-size: 1.1em;
  color: #ffffff;
  text-align: center;
}

#register-pending { 
  margin-top: 20px;
  font-size: 1.5em;
  color: #005da6;
}

footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top: 1px solid #b0b0b0;
  flex-wrap: wrap;
}

footer > section { padding: 0.5% 3%; }

footer > section > div {
  font-size: 0.8em;
  margin: 0.5em 0;
}

footer > section i { margin: 0 0.25em; }

footer > nav {
  border-left: 1px solid #b0b0b0;
  text-align: center;
  padding: 0.5% 3%;
  font-size: 0.8em;
}

footer > nav > div {
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  margin: 0.5em;
  color: #616161;
  font-size: 1.25rem;
}

.fa-github:hover { color: #005da6; }
.fa-linkedin:hover { color: #005da6; }
.fa-facebook:hover { color: #005da6; }
.fa-instagram:hover { color: #005da6; }

@media screen and (max-width: 800px) { 
  
  header {
    box-shadow: 0 10px 10px #ffffff; 
  }
  
  .btn-span { display: none; }
  
  #session-info { margin: 0; }
  
  .item-date-cat { margin-left: 0; }
  
  .item-date-cat > div { 
    text-align: start;
    margin-top: 0.25em;
  }
  
  .log-reg-form {
    top: 10vh;
    width: auto;
  }
  
  input { width: auto; }
}